name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install testing dependencies
      run: |
        pip install pytest
        pip install pytest-cov
        pip install hypothesis
        pip install matplotlib>=3.0.2
        pip install black
    - name: Check format (only on py3.8 and ubuntu)
      if: matrix.python-version == 3.8 && matrix.os == 'ubuntu-latest'
      run: |
        black -l 80 . --check
    - name: Test with pytest
      run: |
        python setup.py develop
        pytest --cov=nashpy .
    - name: Report coverage with Codecov (only on py3.8 and ubuntu)
      if: matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v1.0.5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
    - name: Doctest
      run: |
        python doctests.py
